<h1>About Us</h1>
<p>With a taste of your lips, I'm on a ride
You're toxic, I'm slippin' under
With a taste of a poison paradise
I'm addicted to you
Don't you know that you're toxic?
And I love what you do
Don't you know that you're toxic?</p>